<!-- File Name: footer.ejs Student Name: Daniil Velyki Student ID: 301183618 Date: October 25, 2022 -->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
</nav>